<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">
  <title>NODEPOP - <%= title %></title>
  <link href="/stylesheets/bootstrap.min.css" rel="stylesheet">
  <link href="/stylesheets/shop-homepage.css" rel="stylesheet">
  <link href="/stylesheets/style.css" rel="stylesheet">
</head>
<body>
    <!-- Navigation -->
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
        <div class="container">
        <a class="navbar-brand" href="#">NODEPOP - <%= title %></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item <% if(title == 'Anuncios') __append('active') %>">
                    <a class="nav-link" href="/anuncios?tag=&nombre=&start=0&limit=100&sort=_id&venta=false">Anuncios
                    <%
                        if(title == 'Anuncios') __append('<span class="sr-only">(current)</span>');
                    %>
                    </a>
                </li>
                <li class="nav-item <% if(title == 'Categorías') __append('active') %>">
                    <a class="nav-link" href="/tags">Categorías
                    <%
                        if(title == 'Categorías') __append('<span class="sr-only">(current)</span>');
                    %>
                    </a>
                </li>
            </ul>
        </div>
        </div>
    </nav>
    <div class="container">
    <div class="row">
        <div class="col-lg-3">
            <h1 class="my-4">Categorías</h1>
            <div class="list-group">
                <a href="/anuncios?tag=&nombre=&start=0&limit=" class="list-group-item">VER TODO</a>
                <%
                tags.forEach(tag => {
                %>
                    <%
                    __append('<a href="/anuncios?tag=' + tag + '" class="list-group-item">' + tag.toUpperCase() + '</a>');
                    %>
                <%
                });
                %>
            </div>
        </div>